<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pharmacyEnd.Properties.Settings.dbtestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbtest.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.EmployeesC_1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EmployeesC#1.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.Database11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\FERAS\Desktop\Database11.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.ph" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\FERAS\Documents\ph.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.workTime" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\FERAS\Documents\workTime.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.drugConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\drug.accdb"
            providerName="System.Data.OleDb" />
        <add name="pharmacyEnd.Properties.Settings.ferWaleed" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\FERAS\Desktop\pharmacyEnd\New Microsoft Access Database.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>